body {  

  background: #edeff0;
  background-image: url('../svgs/background.svg');
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  
}

#container {
  padding:0 5%;
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
  width: 85%;
  
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

a:hover {
  color: #111;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;

}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

main {
  padding-top: 50px;
}

h1,
h2 {
  font-size: 23px;
  font-weight: 600;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

/*------------Navigation------------------*/

.nav{
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  color: #39add1;
  font-weight:  600;
}

.nav__item{
  display: flex;
  align-items: center;
}

.nav__item span{
  margin-right: 15px;
  margin-left: 5px;
}

.nav__tittle{
  margin-top: 35px;
}

.heading{
  color: rgb(186, 128, 88);
  display: none;
}

.svg__logo{
  
  width: 140px;
  height: 120px;
}

.sable{
  fill: #b97f5b;
  color: #b97f5b;
}
.red{
  fill: #7C4D30;
  color: #7C4D30;
}
.stone {
  fill: #52595F;
  color: #52595F;
}
.fawn {
  fill: #E1AC88;
  color: #E1AC88;
}

.dogs__lot{
  padding-top: 20px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.dog__name{
  margin-top:0;
  text-align: center;

}

@media (max-width:420px){
  .st1{
  display: none;
  }
  .heading{
  display: block;
  }
}
