/*------------Global Styles------------------*/

* {
  box-sizing: border-box;
}

body {  
  background: #edeff0;
  background-image: url('../svgs/background.svg');
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;  
}

#container {
  padding:0 5%;
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
  width: 78%;  
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

a:hover {
  color: #111;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

main {
  padding-top: 50px;
}

h1,
h2 {
  font-size: 23px;
  font-weight: 600;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

/*------------Navigation------------------*/

.nav{
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  color: #39add1;
  font-weight:  600;
}

.nav__icon{
  display: flex;
  align-items: center;
}

.nav__icon span{
  margin-right: 15px;
  margin-left: 5px;
}

.nav__tittle{
  margin-top: 35px;
}


/*------------SVG LOGO------------------*/


.heading{
  color: rgb(186, 128, 88);
  display: none;
}

.svg__logo{  
  width: 140px;
  height: 120px;
}

/*------------SVG CORGI------------------*/

.sable{
  fill: #b97f5b;
  color: #b97f5b;
}
.red{
  fill: #7C4D30;
  color: #7C4D30;
}
.stone {
  fill: #52595F;
  color: #52595F;
}
.fawn {
  fill: #E1AC88;
  color: #E1AC88;
}

.dogs__lot{
  padding-top: 20px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.dog__name{
  margin-top:0;
  text-align: center;
}


/*------------SVG LOGO ANIMATION------------------*/

.st2{
  transform-origin: 50px 50px;
}

.svg__logo:hover .st2{
  animation: logo 1s ease-out;
}
@keyframes logo {
 20% {
    transform: scale(.9) ;
  }
  50% {
    transform: scale(1.1) ;
  }
  70% {
    transform: scale(.9) ;
  }
  100% {
    transform: scale(1) ;
  }
}


/*------------SVG ICON ANIMATION------------------*/

.li__icon{
  transform-origin: 28px 24px;
}
.nav__icon:hover {
  animation: scale .5s ease-out;
  color: #7C4D30;
}
.nav__icon:hover .li__icon{
  fill: #7C4D30;  
}
@keyframes scale{
  0% {
    transform: scale(1);  
  }
  50% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.1);
  }
}

/*------------Breakpoints------------------*/

.heading{
  display: block;
  }
  .st1{
    display: none;
  }
@media (min-width:420px){
  .st1{
    display: inherit;
  }
  .heading{
  display: none;
  }
}
